:root {
  --color-primary: #109c;
  --color-warning: #ffb946;
  --color-danger: #f7685b;
  --color-success: #2ed47a;
  --color-secondary: #885af8;
  --color-dark: #192a3e;
  --color-table-dark: #323c47;
  --color-table-gray: #707683;
  --color-dark-blue: #334d6e;
  --color-gray: #90a0b7;
  --color-icon-gray: #c2cfe0;
  --color-white: #fff;
  --color-app-bg: #f5f6f8;

  --text-small: 12px;
  --text-medium: 14px;
  --text-large: 18px;
}
