.Table {
  width: 100%;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-align: left;
  border-collapse: collapse;

  tbody {
    tr {
      &:hover {
        border: none;
        box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 33%);
        cursor: pointer;
        transition: 0.1s linear;
      }
    }
  }

  th {
    padding: 14px 20px;
    color: var(--color-dark-blue);
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.01em;
    border-bottom: 1px solid #ebeff2;
    opacity: 0.7;
  }

  td {
    padding: 22px 20px;
    color: #707683;
    border-bottom: 1px solid #ebeff2;
  }
}
