.InputWrapper {
  position: relative;
  width: 100%;
  max-width: 500px;
  font-size: var(--text-large);
  box-shadow: 0 3px 0 -2px var(--color-icon-gray);
  transition: 0.2s;

  .placeholder {
    position: absolute;
    top: 0;
    left: 5px;
    color: var(--color-gray);
    transition: 0.2s;
    pointer-events: none;
  }

  .placeholderFocused {
    top: -12px;
    left: 20px;
    color: #109cf1;
    font-size: 12px;
  }

  .Input {
    width: 100%;
    padding: 5px;
    font-size: var(--text-large);
    background: transparent;
    border: 0;
    outline: 0;
    transition: 0.2s;
  }
}

.inputFocused {
  box-shadow: 0 3px 0 -2px #818e9b;
}
