.Status {
  display: inline-block;
  width: 84px;
  height: 22px;
  padding: 3px 8px;
  color: var(--color-white);
  font-weight: 600;
  font-size: var(--text-small);
  line-height: 17px;
  text-align: center;
  border-radius: 4px;
}

.secondary {
  background: var(--color-secondary);
}

.success {
  background: var(--color-success);
}

.danger {
  background: var(--color-danger);
}

.warning {
  background: var(--color-warning);
}
